header{
     background-color: #ffffff;
    padding: 0px;
    text-align: center;
    image-rendering: auto;
    background-size: cover;
    
}

.header h1{
    align-items: first baseline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img-tree{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    display: flex;

}

body{
    background-image: url(beach2.webp);
    image-rendering: auto;
    background-size: cover;
    margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
}

section{
 border-radius: 8xp;
  margin: 1px 10px auto;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 5px 200px;
}

section h2{
    text-align: center;
}

.menu {
  display: flex;
  list-style: none;
}
.menu-li {
  margin-left: 20px;
}
.menu-li a {
  color: rgba(216, 160, 17, 0.95);
  text-decoration: none;
}

nav {
  text-align: right;
  padding: 12px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

nav a:hover {
  color: #86605a;
  text-decoration: underline;
}