header{
     background-color: #ffffff;
    padding: 0px;
    text-align: center;
    image-rendering: auto;
    background-size: cover;
    
}
header a{
 text-decoration: none;
    color: #e10909;
    font-size: 24px;
    font-weight: bold;
}

#img-tree{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    display: flex;

}
body{
    background-color: black;
    margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
}

section{
    background-color: rgb(151, 154, 156);
 border-radius: 8xp;
  margin: 1px 160px auto;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 5px 200px;
}
section h2{
    text-align: center;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
nav a:hover {
  color: #4d4645;
  text-decoration: underline;
}