header{
     background-color: #ffffff;
    padding: 0px;
    text-align: center;
    image-rendering: auto;
    background-size: cover;
    
}
header a{
 text-decoration: none;
    color: #e10909;
    font-size: 24px;
    font-weight: bold;
}

#img-tree{
    border-radius: 50%;
    width: 85px;
    height: auto;
    display: flex;
    display: flex;

}
body{
    background-color: black;
    margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section-1{
    background-color: rgb(151, 154, 156);
    padding: 20,0;
    border-radius: 5%;
    margin:30;
}
section h2{
    text-align: center;
}